@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* Oswald, Roboto+condensed, Opern sans */

.avatar {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 200px;
}

body {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: normal;
  background: #7a7a7a;
}

.info {
  text-align: left;
  padding-left: 15px;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: normal;
  border: 1px solid rgba(188, 207, 214, 0.712);
  border-radius: 10px;
  background-color: rgba(188, 207, 214, 0.712);
  margin-bottom: 10px;
  line-height: normal;
}

.hobby {
  text-align: left;
  padding-left: 15px;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: normal;
  border: 1px solid rgba(188, 207, 214, 0.712);
  border-radius: 10px;
  background-color: rgba(188, 207, 214, 0.712);
  margin-bottom: 10px;
}

.social {
  text-align: left;
  padding-left: 15px;
  margin-bottom: 10px;
  font-family: "oswald";
  font-size: 19px;
  border: 3px solid rgb(226, 255, 96);
  border-radius: 10px;
  background-color: rgb(226, 255, 96);
  padding-bottom: 10px;
}

.experience {
  text-align: left;
  font-family: "Oswald";
  padding-left: 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(188, 207, 214, 0.712);
  border-radius: 10px;
  background-color: rgba(188, 207, 214, 0.712);
}

.contact {
  text-align: left;
  font-family: "Oswald";
  padding-left: 15px;
  margin-bottom: 10px;
  border: 3px solid rgb(148, 206, 141);
  border-radius: 10px;
  background-color: rgb(148, 206, 141);
}
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 20px;
}

h4 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 5px;
}

.btn {
  background: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 7px;
  padding: 5px 8px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  color: rgb(73, 249, 255);
  opacity: 0.8;
}

a {
  text-decoration: none;
  color-scheme: #000;
}

a:active {
  color: red;
}

a:hover {
  color: rgb(204, 0, 255);
  font-size: 1.5rem;
  text-decoration: underline;
}

a:visited {
  color: rgb(110, 0, 101);
}

.list {
  padding: 0 20px;
}

.list li {
  color: #011aa7;
  margin-bottom: 5px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #011aa7;
}
